.SiteBarDecktop {
  width: 10vw;
  position: fixed;
  height: 100vh;
  background-color: #1F1D2B;
  overflow: hidden;
  padding: 10px;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.MobileSiteBar{
  display: none !important;
}
.SiteBar__Iteam {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.SiteBar__Index {
  color: #EA7C69;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: .2s;
}

.active {
  color: white;
  background-color: #EA7C69;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.400);
}

.active__iteam {
  background-color: #252836;
}

.offcanvas-end {
  position: fixed;
  transition: 2s;
  background-color: #42485f !important;
  right: 0%;
  width: 28vw;
  height: 100vh;
  bottom: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow-x: hidden;
  overflow-y: scroll;
}


.offcanvas-title {
  font-weight: 600;
  font-size: 28px;
  color: white;
}

.close__btn {
  width: 350px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  top: 100px;
  background: #EA7C69 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.123);
  height: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
}

.offcans_info_header {
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  gap: 20px;
}

.offcans_info_header .closeIcon {
  font-size: 30px;
  color: white;
}

.offcanss_info_header_group_btn {
  display: flex;
  align-items: center;
  width: 250px;
  gap: 10px;
  padding: 10px;
}

.offcanss_info_header_btn {
  border: none;
  border-radius: 5px;
  background-color: #1F1D2B;
  color: #EA7C69;
  height: 40px;
}

.active2 {
  background-color: #EA7C69;
  color: white;
  box-shadow: 0 0 5px whitesmoke;
}

.offcans_info_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 10px 5px 10px;
  border-bottom: 1px solid gray;
  color: white;
  font-weight: 700;
  font-size: 20px;
  width: 90%;
  margin: 0 auto;
}

.offcans_info_body_text_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
}

.FoodShopList {
  height: 250px;
  margin: 50px 0;

}

.FoodShopList__Header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.FoodShopList__Header__img img {
  object-fit: contain;
  width: 150px;
}

.FoodShopList__Header__text {
  text-align: right;
  color: white;
}

.FoodShopList__Header__text p {
  font-weight: 700;
  margin: 10px 0;
}

.offcanss__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}

.offcanss__footer input {
  border: 1px solid rgba(255, 255, 255, 0.466);
  background-color: #393C49;
  height: 40px;
  border-radius: 10px;
  width: 250px;
  outline: none;
  caret-color: white;
  color: white;
}

.offcanss__footer button {
  height: 40px;
  width: 40px;
  background-color: #393C49;
  border-radius: 5px;
  border: 1px solid rgba(228, 14, 128, 0.876);
  color: #EA7C69;
}

.minusPlus {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.497);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252836;
  color: white;
}

.incBox {
  margin-top: 15px;
  display: flex;
  width: 140px;
  justify-content: space-between;
  padding: 0 20px;
  color: white;
}

.open_btn {
  width: 350px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  top: 50px;
  background: #EA7C69 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.123);
  height: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 25px;
  margin-bottom: 100px;
}

.payFood h5 {
  color: white;
}

.payFood__d_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 20px 0;
  gap: 10px;

}

.payFood__d_flex h5 {
  margin: 0;
  padding: 0;
}

.payFood__d_flex_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: relative;
  top: 50px;
}

.payFood__d_flex_btn button {
  width: 150px;
  border-radius: 10px;
  background: #EA7C69 !important;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.123);
  height: 50px;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
  outline: none;
}

.payFood__d_flex input {
  background: #42485f;
  color: white;

  ::placeholder {
    color: white;
  }

  width: 170px !important;
  outline: none;
  border-radius: 8px;
  height: 40px;
  padding: 0 10px;
}

.payFood__d_flex select {
  width: 250px;
  background-color: #42485f;
  border-radius: 8px;

  height: 40px;
  color: white;
  outline: none;
  border: 1px solid white;
}

.payFood_row {
  padding: 0 20px;
  margin: 20px 0;
}

.payFood_row textarea {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 8px;
  background: #42485f;
  color: white;

  ::placeholder {
    color: white;
  }

  padding: 0 10px;

}

.payFood_row input {
  width: 100%;
  height: 30px;
  outline: none;
  border-radius: 8px;
  background: #42485f;
  color: white;

  ::placeholder {
    color: white;
  }

  padding: 0 10px;

}

.payFood {
  padding: 0 20px;
}

.payFood_btnDiv {
  width: 100px;
  border: 1px solid grey;
  background: #1F1D2B;
  border-radius: 8px;
  text-align: center;
  color: grey;
  margin: 0 10px;
  height: 70px;
  padding: 10px 0;
}

.payFood_btn {
  display: flex;
}

.payFood_btnDiv p {
  margin: 0;
  padding: 0;
}

.active3 {
  border: 1px solid white;
  background: #42485f;
  color: white;
}


.offcansHome {
  width: 25vw;
  height: 100vh;
  background-color: #1F1D2B;
  position: fixed;
  right: 0;
  top: 0;
  transition: 1s;
  overflow-y: scroll;

}
.input_4:invalid{
    border: 2px solid red !important;
    animation: invalid 0.3s 2;
}
@keyframes invalid {
    25%{
      translate: 6px 0;
    }
    50%{
      translate: -6px 0;
    }
    75%{
      translate: 6px 0;
    }
}

.offcansHomeOff {
  width: 0px;
  opacity: 0.5;
}
.activeInput{
  border: 1px solid red;
}
.noneInput{
  border: 1px solid rgba(255, 255, 255, 0.489);
}


@media (max-width: 425px),
(max-width:360px) {
  .SiteBarDecktop {
    display: none !important;
  }
  .SiteBar{
    width: 0px !important;
  }
  .MobileSiteBar{
    display: flex !important;
    position: fixed;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1D2B;
    overflow: hidden;
    padding: 10px;
    left: 0;
    right: 0 !important;
    bottom: 0;
    z-index: 100;;
  }
  .SiteBar__Index {
    color: #EA7C69;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: .2s;
  }

  .SiteBar__Iteam {
    width: 50px !important;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  cursor: pointer;

  }

  .offcanvas-end {
    position: fixed;
    transition: 2s;
    background-color: #42485f !important;
    right: 0%;
    width: 100vw !important;
    height: 100vh;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .notification {
    position: fixed;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.518);
    background: #1F1D2B;
    color: white;
    transition: 1s;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: inherit;
  }

  .notification p {
    margin: 0;
    padding: 0;
  }

  @keyframes animat {
    0% {
      top: 5%;
      opacity: 0.5;
    }

    10% {
      top: 10%;
      opacity: 1;
    }

  }

}
@media (max-width: 360px) {
  .SiteBarDecktop {
    display: none !important;
  }
  .SiteBar{
    width: 0px !important;
  }
  .MobileSiteBar{
    display: flex !important;
    position: fixed;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1D2B;
    overflow: hidden;
    padding: 0px 10px;
    left: 0;
    right: 0 !important;
    bottom: 0;
    z-index: 100;;
  }
  .SiteBar__Index {
    color: #EA7C69;
    width: 100%;
    height: 40px;
    padding: 0px !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: .2s;
    position: relative;
  }
  .active {
    color: white;
    background-color: #EA7C69;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.400);
  }

  .SiteBar__Iteam {
    width: 60px !important;
    height: 40px;
    font-size: 12px;
  cursor: pointer;

  }


  .notification {
    width: 150px;
    font-size: 16px;
    z-index: 100;
  }
  .open_btn {
    width: 250px;
    top: 50px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 100px ;
  }
  .payFood__d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
    gap: 10px;
  
  }
  
  .payFood__d_flex h5 {
    margin: 0;
    padding: 0;
    font-size: 16px !important;
  }
  
  .payFood__d_flex_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
    top: 50px;
  }
  
  .payFood__d_flex_btn button {
    width: 130px;
    border-radius: 10px;
    background: #EA7C69 !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.123);
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    outline: none;
  }
  
  .payFood__d_flex input {
    border: none;
    background: #42485f;
    color: white;
  
    ::placeholder {
      color: white;
    }
  
    width: 120px;
    outline: none;
    border-radius: 8px;
    height: 60px;
    padding: 0 10px;
  }
  
  .payFood__d_flex select {
    width: 200px;
    background-color: #42485f;
    border-radius: 8px;
  
    height: 40px;
    color: white;
    outline: none;
    border: 1px solid white;
  }
  
  .payFood_row {
    padding: 0 20px;
    margin: 20px 0;
  }
  
  .payFood_row textarea {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 8px;
    border: 1px solid white;
    background: #42485f;
    color: white;
  
    ::placeholder {
      color: white;
    }
  
    padding: 0 10px;
  
  }
  
  .payFood_row input {
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 8px;
    border: 1px solid white;
    background: #42485f;
    color: white;
  
    ::placeholder {
      color: white;
    }
  
    padding: 0 10px;
  
  }
  
  .payFood {
    padding: 0 20px;
  }
  
  .payFood_btnDiv {
    width: 100px;
    border: 1px solid grey;
    background: #1F1D2B;
    border-radius: 8px;
    text-align: center;
    color: grey;
    margin: 0 10px;
    height: 70px;
    padding: 10px 0;
  }
  
  .payFood_btn {
    display: flex;
  }
  
  .payFood_btnDiv p {
    margin: 0;
    padding: 0;
  }
  .offcanss_info_header_group_btn {
    display: flex;
    align-items: center;
    width: 250px;
    gap: 10px;
    padding: 10px;
  }
  
  .offcanss_info_header_btn {
    border: none;
    border-radius: 5px;
    background-color: #1F1D2B;
    color: #EA7C69;
    height: 40px;
  }
  
  .active2 {
    background-color: #EA7C69;
    color: white;
    box-shadow: 0 0 5px whitesmoke;
  }
  .offcans_info_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 5px 10px;
    border-bottom: 1px solid gray;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .offcans_info_body_text_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
  }
  
  .FoodShopList {
    height: 250px;
    margin: 50px 0;
  
  }
  
  .FoodShopList__Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .FoodShopList__Header__img img {
    object-fit: contain;
    width: 120px;
  }
  
  .FoodShopList__Header__text {
    text-align: right;
    color: white;
    font-size: 16px !important;
  }
  
  .FoodShopList__Header__text p {
    font-weight: 700;
    margin: 10px 0;

  }
  
  .offcanss__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
  }
  
  .offcanss__footer input {
    border: 1px solid rgba(255, 255, 255, 0.466);
    background-color: #393C49;
    height: 30px;
    border-radius: 10px;
    width: 200px;
    outline: none;
    caret-color: white;
    color: white;
  }
  
  .offcanss__footer button {
    height: 30px;
    width: 30px;
    background-color: #393C49;
    border-radius: 5px;
    border: 1px solid rgba(228, 14, 128, 0.876);
    color: #EA7C69;
  }

  .FoodShopList__Header__text h4{
    font-size: 16px !important; 
  }
  .FoodShopList__Header__text p{
    font-size: 14px !important; 
    margin-left: -40px !important;
  }
  .active3 {
    border: 1px solid white !important;color: white;
  }
  .FoodShopList{
    margin:  0px;
  }
}
@media (max-width:425px) {
  .SiteBarDecktop {
    display: none !important;
  }
  .SiteBar{
    width: 0px !important;
  }
  .MobileSiteBar{
    display: flex !important;
    position: fixed;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F1D2B;
    overflow: hidden;
    padding: 0px 10px;
    left: 0;
    right: 0 !important;
    bottom: 0;
    z-index: 100;;
  }
  .SiteBar__Index {
    color: #EA7C69;
    width: 100%;
    height: 40px;
    padding: 0px !important;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: .2s;
    position: relative;
  }
  .active {
    color: white;
    background-color: #EA7C69;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.400);
  }

  .SiteBar__Iteam {
    width: 60px !important;
    height: 40px;
    font-size: 16px !important;
  cursor: pointer;

  }


  .notification {
    width: 150px;
    font-size: 16px;
    z-index: 100;
  }
  .open_btn {
    width: 250px;
    top: 29px !important;
    height: 40px;
    font-size: 20px;
    margin-bottom: 100px ;
  }
  .payFood__d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;
    gap: 10px;
  
  }
  
  .payFood__d_flex h5 {
    margin: 0;
    padding: 0;
    font-size: 16px !important;
  }
  
  .payFood__d_flex_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: relative;
    top: 50px;
  }
  
  .payFood__d_flex_btn button {
    width: 130px;
    border-radius: 10px;
    background: #EA7C69 !important;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.123);
    height: 50px;
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
    outline: none;
  }
  
  .payFood__d_flex input {
    height: 50px !important;
    border: none;
    background: #42485f;
    color: white;
  
    ::placeholder {
      color: white;
    }
  
    width: 120px;
    outline: none;
    border-radius: 8px;
  
    padding: 0 10px;
  }
  
  .payFood__d_flex select {
    width: 200px;
    background-color: #42485f;
    border-radius: 8px;
  
    height: 40px;
    color: white;
    outline: none;
    border: 1px solid white;
  }
  
  .payFood_row {
    padding: 0 20px;
    margin: 20px 0;
  }
  
  .payFood_row textarea {
    text-align: center;
    width: 100%;
    height: 45px;
    outline: none;
    border-radius: 8px;
    border: 1px solid white;
    background: #42485f;
    color: white;
  
    ::placeholder {
      color: white;
    }
  
    padding: 10px 10px;
  
  }
  
  
  .payFood_row input {
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 8px;
    border: 1px solid none;
    background: #42485f;
    color: white;
  
    ::placeholder {
      color: white;
    }
  
    padding: 0 10px;
  
  }
  
  .payFood {
    padding: 0 20px;
  }
  
  .payFood_btnDiv {
    width: 100px;
    border: 1px solid grey;
    background: #1F1D2B;
    border-radius: 8px;
    text-align: center;
    color: grey;
    margin: 0 10px;
    height: 70px;
    padding: 10px 0;
  }
  
  .payFood_btn {
    display: flex;
  }
  
  .payFood_btnDiv p {
    margin: 0;
    padding: 0;
  }
  .offcanss_info_header_btn {
    border: none;
    border-radius: 5px;
    background-color: #1F1D2B;
    color: #EA7C69;
    height: 40px;
  }
  
  .active2 {
    background-color: #EA7C69;
    color: white;
    box-shadow: 0 0 5px whitesmoke;
  }
  .offcans_info_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px 5px 10px;
    border-bottom: 1px solid gray;
    color: white;
    font-weight: 700;
    font-size: 20px;
    width: 90%;
    margin: 0 auto;
  }
  
  .offcans_info_body_text_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
  }
  
  .FoodShopList {
    height: 250px;
    margin: 50px 0;
  
  }
  
  .FoodShopList__Header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .FoodShopList__Header__img img {
    object-fit: contain;
    width: 120px;
  }
  
  .FoodShopList__Header__text {
    text-align: right;
    color: white;
    font-size: 16px !important;
  }
  
  .FoodShopList__Header__text p {
    font-weight: 700;
    margin: 10px 0;

  }
  
  .offcanss__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
  }
  
  .offcanss__footer input {
    border: 1px solid rgba(255, 255, 255, 0.466);
    background-color: #393C49;
    height: 30px;
    border-radius: 10px;
    width: 200px;
    outline: none;
    caret-color: white;
    color: white;
  }
  
  .offcanss__footer button {
    height: 30px;
    width: 30px;
    background-color: #393C49;
    border-radius: 5px;
    border: 1px solid rgba(228, 14, 128, 0.876);
    color: #EA7C69;
  }

  .FoodShopList__Header__text h4{
    font-size: 16px !important; 
  }
  .FoodShopList__Header__text p{
    font-size: 14px !important; 
    margin-left: -40px !important;
  }
  .active3 {
    border: 1px solid white !important;color: white;
  }
  .FoodShopList{
    margin:  0px;
  }
  .activeInput{
    border: 1px solid red !important;
  }
  .noneInput{
    border: 1px solid rgba(255, 255, 255, 0.489) !important;
  }
} 